p{
    text-align: justify;
}

.address-link {
    width:fit-content;
    text-decoration: none;
    color: inherit;
}

.address-link:hover{
    cursor: pointer;
    text-decoration: underline;
    text-decoration-color: var(--color-primary-red);
}
.map-container{
    width: 80%;
    max-width: 1500px;
    overflow: hidden;
}
@media (max-width: 768px) {
    .map-container{
        width:100%;
    }
}