@import url('colors.css');
main{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /* width: 100%; */
}
p{
    /* font-size: max(2vw, 24.92px); */
    font-size: clamp(1.5rem, 2vw, 40px);
}
.comite{
    display: flex;
    /* margin: auto; */
    flex-direction: row;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    width: 80%;
    max-width: 1800px;
    height: auto;
    margin-top: 4rem;
}
.person-comite{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-width: 250px;
    max-width: 450px;
    width: 35%;
    height: auto;
    margin: 2rem 1rem;
    background: linear-gradient(to bottom, var(--color-primary-red), var(--color-primary-red)) no-repeat;
    background-size: 100% 0%;
    background-color:var(--color-primary-dark-blue);
    transition: all 0.2s;
}
.person-comite:hover{
    transform: translateY(-5px);
    /* background: linear-gradient(to bottom, var(--color-primary-red), var(--color-primary-red)) no-repeat; */
        background-size: 100% 100%;
}
.person-comite img{
    width: 100%;
    padding: 5% 5% 4% 5%;
    /* aspect-ratio: 1/1; */
}
.person-comite p{
    color: white;
}
.person-comite p:nth-of-type(2) {
/* font-size: max(1.2vw, 18.72px); */
font-size: clamp(1.2rem, 1.5vw, 30px);
}
.person-comite p:nth-of-type(3) {
font-size: max(1vw, 15.72px);
margin-bottom: 3%;
/* font-size: clamp(1rem, 1vw, 20px); */
}