@import url('colors.css');

.plans-inscriptions {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
    width: 80vw;
    height: auto;
    margin: auto;
    margin: 4rem auto;
    max-width: 1400px;
}

.button-inscription {
    display: flex;
    justify-content: center;
    align-items: center;
    /* width: 80vw; */
    margin: auto;
    margin-top: 5rem;
    max-width: 1400px;
}

.button-inscription a {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: auto;
    width: 100%;
    text-decoration: none;
}

.button-inscription button {
    background: linear-gradient(to bottom, var(--color-primary-dark-blue), var(--color-primary-dark-blue)) no-repeat;
    background-size: 100% 0%;
    background-color: var(--color-primary-red);
    font-size: 1.5rem;
    color: white;
    width: 30%;
    min-width: 180px;
    height: 4rem;
    border: none;
    clip-path: polygon(10% 0%, 90% 0%, 100% 10%, 100% 90%, 90% 100%, 10% 100%, 0% 90%, 0% 10%);
    cursor: pointer;
    transition: all 0.2s;

}

.button-inscription button:hover {
    transform: translateY(-5px);
    background: linear-gradient(to bottom, var(--color-primary-dark-blue), var(--color-primary-dark-blue)) no-repeat;
    background-size: 100% 100%;
}

.plan {
    min-width: 300px;
}