@import url('colors.css');
@import url('fonts.css');
@import url('hamburger.css');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Jost;
    font-weight: 500;
}

html {
    background-color: var(--color-primary-black);
    height: 100vh;
}

p {
    font-size: 1.2rem;
}
h1{
    margin-top: 2rem;
}
h2 {
    font-weight: 600;
    font-size: 2rem;
}

h3 {
    font-size: 1.5rem;
}

li {
    list-style: none;
}

a {
    font-size: 1.2rem;
}

.hamburger {
    display: none;
    opacity: 0;
}

header {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100vw;
}

header .top-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: var(--color-primary-red);
    width: 100%;
    margin: 0px 50vw;
}

.logo img {
    margin-left: 5vw;
    z-index: 2;
}

.menu {
    margin-right: 5vw;
}

header .top-header .logo {
    margin: 0.2rem 2rem;
    align-self: center;
    display: flex;
}

header .top-header .logo a {
    display: flex;
}

header .top-header .logo img {
    width: 70px;
    height: auto;
    aspect-ratio: 1/1;
    /* margin: 1rem 2rem; */
}

header .top-header .menu ul {
    display: flex;
    flex-direction: row;
    color: white;
    padding: inherit;
    height: 100%;
}

header .top-header .menu ul li {
    height: 100%;
    list-style: none;
    /* padding: 1rem 0rem; */
    display: flex;
    flex-direction: row;
    align-items: center;
}

header .top-header .menu ul li a {
    position: relative;
    color: var(--color-primary-black);
    text-decoration: none;
    height: 100%;
    padding: 2rem;
    background: linear-gradient(to bottom, var(--color-primary-dark-blue), var(--color-primary-dark-blue)) no-repeat;
    background-size: 100% 0%;
    transition: all 0.2s ease;
}

header .top-header .menu ul li a:hover {
    color: white;
    background: linear-gradient(to bottom, var(--color-primary-dark-blue), var(--color-primary-dark-blue)) no-repeat;
    background-size: 100% 100%;
}

header .bottom-header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    background-color: var(--color-primary-black);

}

header .bottom-header h1 {
    font-size: 4rem;
    text-align: center;
    color: white;
    color: var(--color-primary-red);
}

header .animated-text h1 {
    font-size: 6rem;
    font-weight: 900;
    text-align: center;

    --bg-size: 200%;
    background: linear-gradient(90deg,
            var(--color-primary-red),
            #6d0316,
            var(--color-primary-red)) 0 0 / var(--bg-size) 100%;
    color: transparent;
    -webkit-background-clip: text;
    background-clip: text;
}

@media(prefers-reduced-motion: no-preference) {
    header .animated-text h1 {
        animation: text-gradient 5s linear infinite reverse;
    }

    @keyframes text-gradient {
        to {
            background-position: var(--bg-size) 0;
        }
    }
}

.plan {
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 2rem;
    background: linear-gradient(to bottom, var(--color-primary-red), var(--color-primary-red)) no-repeat;
    background-size: 100% 0%;
    background-color: var(--color-primary-dark-blue);
    width: 40%;
    min-width: 350px;
    clip-path: polygon(10% 0%, 90% 0%, 100% 10%, 100% 90%, 90% 100%, 10% 100%, 0% 90%, 0% 10%);
    transition: all 0.2s;

}

.plan:self:first-of-type {
    margin-top: none;
}

.plan:hover {
    transform: translateY(-5px);
    background: linear-gradient(to bottom, var(--color-primary-red), var(--color-primary-red)) no-repeat;
    background-size: 100% 100%;
}

.plan * {
    margin: 0.5rem 0;
}

.plan *:first-child {
    margin-top: 5%;
}

.plan *:last-child {
    margin-bottom: 5%;
}

@media (max-width: 1100px) {

    /* Mobile-specific styles */
    .hamburger {
        display: flex;
        align-items: center;
        justify-self: center;
        opacity: 1;
        align-self: center;
        margin-right: 5rem;
        z-index: 2;
        /* size: 5rem; */
    }

    .hamburger * {
        color: black;
    }

    header .top-header {
        align-items: center;
        /* flex-direction: column; */
        margin: 0;
        /* height: 100vh; */
    }

    header .top-header .menu {
        display: none;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        position: fixed;
        /* transform: translate(-50%, -50%); */
        /* top: 50%;
        left: 50%; */
        top: 0;
        left: 0;
        height: 0;
        width: 100vw;
        background-color: var(--color-primary-red);
        z-index: 1;
        overflow: hidden;
        transition: none;
        opacity: 0.5;
    }

    header .top-header .menu.show {
        display: block;
        animation: menuBackgroundSlideDown 0.5s ease-out forwards, backgroundFadeIn 0.5s linear forwards;
    }

    @keyframes menuBackgroundSlideDown {

        from {
            height: 0;
        }

        to {
            height: 100vh;
        }
    }
    @keyframes backgroundFadeIn {
        from {
            opacity: 0.5;
        }

        to {
            opacity: 1;
        }
        
    }
    header .top-header .menu.closing {
        animation: menuBackgroundSlideUp 0.5s ease-out forwards;
    }
    @keyframes menuBackgroundSlideUp {

        from {
            height: 100vh;
            opacity: 1;
        }

        to {
            height: 0;
            opacity: 0.5;
        }
    }

    header .top-header .menu ul {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        height: 100%;
        width: 100%;
        margin: auto;
        /* position: absolute; */
        /* transform: translate(-50%, -50%); */
        /* top: 75%;
        left: 90%; */
        /* top: 50%;
        left: 50%; */
    }

    header .top-header .menu ul li {
        width: 100%;
        height: auto;

    }

    header .top-header .menu ul li a {
        opacity: 0;
        width: 50%;
        text-align: center;
        margin: auto;
        font-size: 25px;
        font-weight: 700;
    }

    header .top-header .menu.show ul li a {
        animation: fadeIn 0.4s ease forwards;
        /* Adjust as needed */
    }

    @keyframes fadeIn {
        from {
            opacity: 0;
            transform: translateY(-20px);
        }

        to {
            opacity: 1;
            transform: translateY(0px);
        }
    }

    /* Stagger the animation for each link */
    header .top-header .menu.show ul li:nth-child(1) a {
        animation-delay: 0.2s;
    }

    header .top-header .menu.show ul li:nth-child(2) a {
        animation-delay: 0.3s;
    }

    header .top-header .menu.show ul li:nth-child(3) a {
        animation-delay: 0.4s;
    }

    header .top-header .menu.show ul li:nth-child(4) a {
        animation-delay: 0.5s;
    }

    header .top-header .menu.show ul li:nth-child(5) a {
        animation-delay: 0.6s;
    }

    header .top-header .menu.show ul li:nth-child(6) a {
        animation-delay: 0.7s;
    }
    header .top-header .menu.closing ul li a{
        animation: fadeOut 0.2s ease forwards;
    }
    @keyframes fadeOut {
        from {
            opacity: 1;
            transform: translateY(0px);
        }

        to {
            opacity: 0;
            transform: translateY(-20px);
        }
    }
    .plan {
        width: 80%;
        min-width: unset;
    }

    header .animated-text h1 {
        font-size: 4rem;
    }
}