@import url('colors.css');
main{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.evenements{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100vw;
    max-width: 1800px;
    height: auto;
    margin-top: 4rem;
}
.plan{
    width: 60%;
    /* min-height: 500px ; */
}